[Desktop Entry]
Version=1.0
Type=Application
Name=NoMercy MediaServer
GenericName=NoMercy MediaServer
Comment=Modern Media Server Solution
Categories=AudioVideo;Video;MediaServer;Network;FileTools;Encoder;Player;Self-Hosting
Exec=NoMercyMediaServer
Icon=NoMercy-MediaServer
Terminal=false
StartupNotify=true
StartupWMClass=NoMercyMediaServer
X-GNOME-UsesNotifications=true
Keywords=media;server;streaming;