[Desktop Entry]
Version=1.0
Type=Application
Name=NoMercy MediaServer
GenericName=NoMercy Launcher
Comment=Launcher for NoMercy MediaServer
Categories=AudioVideo;Video;Player;Network;
Exec=nomercylauncher
Icon=NoMercy-MediaServer-Service
Terminal=false
StartupNotify=true
StartupWMClass=NoMercyLauncher
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true
Keywords=media;server;service;control;
