[Desktop Entry]
Version=1.0
Type=Application
Name=NoMercy Tray
GenericName=NoMercy Tray Application
Comment=System tray control for NoMercy MediaServer
Categories=AudioVideo;Video;Player;Network;
Exec=nomercytray
Icon=NoMercy-Tray
Terminal=false
StartupNotify=true
StartupWMClass=NoMercyTray
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true
Keywords=media;server;tray;control;
