[Unit]
Description=NoMercy-MediaServer Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nomercymediaserver
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
