[Unit]
Description=NoMercy-App Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nomercyapp
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
