Package: nomercymediaserver
Version: 0.1.89
Architecture: amd64
Maintainer: NoMercy Entertainment <support@nomercy.tv>
Description: NoMercy MediaServer
 Modern Media Server Solution
Depends: libc6
Priority: optional
Section: multimedia
