name: 'Package Building Workflow'

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string
        default: ''
      version:
        description: 'Package version'
        required: true
        type: string
    secrets:
      GPG_PRIVATE_KEY:
        description: 'GPG private key for signing'
        required: true

jobs:
  build_packages:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        package-type: [deb, rpm, arch, windows-installer, macos-installer]
        os: [ubuntu-latest]
        include:
          - package-type: windows-installer
            os: windows-latest
          - package-type: macos-installer
            os: macos-latest
        exclude:
          - package-type: windows-installer
            os: ubuntu-latest
          - package-type: macos-installer
            os: ubuntu-latest
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref || github.sha }}
          fetch-depth: 0
          fetch-tags: true

      - name: Build DEB packages
        if: matrix.package-type == 'deb'
        uses: ./.github/actions/build-deb-packages
        with:
          version: ${{ inputs.version }}

      - name: Build RPM packages
        if: matrix.package-type == 'rpm'
        uses: ./.github/actions/build-rpm-packages
        with:
          version: ${{ inputs.version }}
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Build Arch packages
        if: matrix.package-type == 'arch'
        uses: ./.github/actions/build-arch-packages
        with:
          version: ${{ inputs.version }}

      - name: Build Windows installer
        if: matrix.package-type == 'windows-installer'
        uses: ./.github/actions/build-windows-installer
        with:
          version: ${{ inputs.version }}

      - name: Build macOS installer
        if: matrix.package-type == 'macos-installer'
        uses: ./.github/actions/build-macos-installer
        with:
          version: ${{ inputs.version }}
